<header class="site-header">

    <div class="wrapper">

        {% if page.lang contains 'ru' %}
        <a class="site-title" href="{{ site.baseurl }}/">{{site.title}}</a>
        <a target="_blank" href="https://docs.google.com/document/d/1-yRtQ6iMaG6oHE9pJJ3epARzOjZSr70eoAS-X_l05Po/edit?usp=sharing" class="school_link">Стать учеником</a>

        {% endif %}
        {% if page.lang contains 'en' %}
        <a class="site-title" href="{{ site.baseurl }}/en/">{{site.title_en}}</a>
        {% endif %}

        <nav class="site-nav">

            <div class="trigger">
                {% for my_page in site.pages %}

                <!--english-->
                {% if page.lang contains 'en' %}
                {% if my_page.lang contains 'en' %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                <a class="page-link" href="{{ site.baseurl }}">RU</a>
                {% endif %}
                {% endif %}

                <!--russian-->
                {% if page.lang contains 'ru' %}
                {% if my_page.lang contains 'ru' %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                <a class="page-link" href="{{ site.baseurl }}/en/">EN</a>
                {% endif %}
                {% endif %}

                {% endfor %}
            </div>
        </nav>

    </div>

</header>
